.footer {
  background: url(../img/footer-bg.jpg) center center/cover no-repeat;
  position: relative;
  padding: 267px 0 30px;
  min-height: 485px;

  @include desctop {
    padding-top: 0;
  }

  a {
    color: inherit;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    margin-top: 20px;
  }

  &__contacts {
    padding: 76px 0 91px;
    position: absolute;
    top: -233px;
    right: calc(50% - 556px);
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.15);
    background-color: #fafafa;
    color: rgba(33, 56, 66, 0.6);
    width: 100%;
    min-height: 423px;
    z-index: 2;

    @include desctop {
      padding: 40px 0;
      min-height: 0;
    }

    .container {
      margin-left: auto;
      margin-right: -11px;

      @include desctop {
        margin-right: auto;
      }
    }

    @include desctop {
      position: static;
      right: 0;
    }
  }

  &__contacts-caption {
    font-size: 16px;
    margin-bottom: 4px;
    max-width: 300px;

    @include desctop {
      font-size: 14px;
      line-height: 22px;
      max-width: 100%;
    }
  }

  &__contacts-text {
    color: #05225d;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;

    @include desctop {
      font-size: 36px;
      margin-bottom: 10px;
    }

    @include tablets {
      font-size: 23px;
      line-height: 23px;
    }
  }

  &__contacts-form {}

  &__contacts-row {
    display: flex;

    @include desctop {
      justify-content: space-between;
    }

    @include tablets {
      flex-wrap: wrap;
    }

    input {
      padding: 19px 12px;
      background-color: #d8d8d8;
      opacity: 0.4;
      border: none;
      margin-right: 22px;

      @include desctop {
        width: 23%;
        font-size: 14px;
      }

      @include tablets {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    button {
      padding: 15px 43px;
      border: none;
      background-image: linear-gradient(153deg, #bb3a53 0%, #f87060 100%);
      color: #fff;
      font-size: 16px;
      font-weight: 700;

      @include desctop {
        width: 23%;
        font-size: 14px;
      }

      @include tablets {
        width: 100%;
        margin-top: 10px;
      }

      &:hover {
        background-image: linear-gradient(153deg, #f87060 0%, #bb3a53 100%);
      }
    }

  }

  &__item {
    @include tablets {
      margin-bottom: 20px;
    }
  }

  &__contacts-check {}

  &__contacts-label {
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 550px;

    @include desctop {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }

    &::before {
      content: '';
      display: flex;
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      border: 2px solid #ececec;
      margin-right: 20px;
      vertical-align: middle;
    }
  }

  &__contacts-checkbox {
    display: none;

    &:checked+label::before {
      background-image: linear-gradient(153deg, #bb3a53 0%, #f87060 100%);
    }
  }

  &__top {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__caption {
    color: #f87060;
    font-size: 14px;
    letter-spacing: 0.88px;
    line-height: 40px;
    text-transform: uppercase;

    @include desctop {
      font-size: 12px;
      letter-spacing: 0.75px;
    }
  }

  &__address {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;

    @include desctop {
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      font-family: 'Montserrat', sans-serif;
    }
  }

  &__phone {
    display: block;

    @include desctop {
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      font-family: 'Montserrat', sans-serif;
    }
  }

  &__map {
    color: #f87060;
    font-family: "Formular";
    font-size: 16px;
    font-weight: 700;

    @include desctop {
      font-size: 12px;
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;
    }

    a {
      text-decoration: underline;
    }
  }

  &__email {
    font-weight: 500;
  }

  &__policy {
    a {
      text-decoration: underline;
      font-weight: 500;

      @include desctop {
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }

  &__bottom {
    padding: 27px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets {
      flex-direction: column;
      align-items: start;
    }
  }

  &__logo {
    margin-right: 70px;

    @include tablets {
      display: none;
    }
  }

  &__logo-phone {
    display: none;

    @include tablets {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__copy {
    @include desctop {
      font-size: 12px;
    }
  }
}