.header {
  top: 40px;
  position: absolute;
  width: 100%;

  @include tablets {
    top: 30px;
  }

  @include phones {
    top: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    @include phones {
      display: none;
    }

    &-mobile {
      display: none;

      @include phones {
        display: block;
      }
    }
  }

  &__menu {}
}