.hero {
  background: url(../img/hero/Slider.jpg) center center/cover no-repeat;
  padding: 150px 0 140px;

  @include tablets {
    padding: 97px 0 31px;
  }

  @include phones {
    background: url(../img/hero/hero-mb-bg.jpg);
    padding: 92px 0 62px;
  }

  &__title {
    margin-top: -4px;
    margin-left: -4px;
    color: #ffffff;
    font-family: "Formular";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 12px;

    @include tablets {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__subtitle {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 550px;
    margin-bottom: 26px;
    padding-left: 4px;

    @include tablets {
      font-size: 14px;
      line-height: 22px;
      max-width: 300px;
      padding-left: 0;
    }
  }

  &__advantages {
    color: #ffffff;
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 680px;
    margin-bottom: 54px;
    padding-left: 4px;

    @include tablets {
      margin-bottom: 15px;
    }

    span {
      padding: 7px 15px;
      border-radius: 8px;
      background-color: #ffffff;
      color: #33a1fd;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 9px 9px 0;

      @include tablets {
        font-size: 10px;
      }

      @include phones {
        padding: 8px 12px;
        font-size: 9px;
        margin: 0 5px 5px 0;
        font-weight: 700;
      }
    }
  }

  &__order {
    a {
      color: #f87060;
      font-size: 16px;
      font-family: "Formular";
      font-weight: 700;
      text-decoration: underline;
    }
  }
}