.licenses {
  background: url(../img/licenses/licenses-bg.png) center center/cover no-repeat;
  position: relative;
  padding-top: 215px;
  min-height: 895px;

  .container {
    position: relative;
  }

  &__partners {
    position: absolute;
    padding-left: 75px;
    top: -100px;
    left: calc(50% - 556px);
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 227px;
  }

  &__partners-title {
    opacity: 0.3;
    font-family: "Formular";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__partners-wrapper {
    display: flex;
    align-items: center;
  }

  &__pattners-img {
    margin-right: 40px;
  }

  &__title {
    color: #ffffff;
    font-family: "Formular";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 55px;
  }

  &__box {
    position: absolute;

    @media (max-width:768px) {
      position: relative;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &__text {
    color: #ffffff;
    margin-bottom: 34px;

    @media (max-width:768px) {
      margin-bottom: 10px;
    }

    span {
      font-weight: 700;
    }
  }

  &__img {
    @media (max-width:768px) {
      margin-bottom: 40px;
    }

    img {
      max-width: 100%;
    }
  }
}