.portfolio {
  background: url(../img/portfolio/portfolio-bg.png) center center/cover no-repeat;
  padding: 110px 0 100px;

  &__title {
    color: #ffffff;
    font-family: "Formular - Bold";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 75px;
  }


  &__logo {
    margin-bottom: 35px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__target {}

  &__caption {
    color: #05225d;
    font-family: "Formular";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    line-height: 26px;
  }

  &__completed {}

  &__look {
    color: #f87060;
    font-family: "Formular";
    font-size: 16px;
    font-weight: 700;

    a {
      text-decoration: underline;

    }
  }

  &__slider {}

  &__item {
    max-width: 535px;
    height: 341px;
    box-shadow: 50px 50px 100px rgba(255, 255, 255, 0.15);
    background-color: #ffffff;
    padding: 58px 47px 50px;

    @media (max-width:1024px) {
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.slick-slide {
  max-width: 535px;
  margin-right: 35px;

  @media (max-width:1024px) {
    max-width: 80%;
    margin-right: 0px;
    margin: 0 auto;
  }
}

.slick-prev {
  position: absolute;
  top: 48%;
  left: -60px;
  transform: translateY(-52%) rotate(-180deg);
  cursor: pointer;
}

.slick-next {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: -60px;
  cursor: pointer;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0.3;
}