.portfolio {
  background: url(../img/portfolio/portfolio-bg.png) center center/cover no-repeat;
  padding: 110px 0 100px;

  @include tablets {
    padding-top: 50px;
  }

  &__title {
    color: #ffffff;
    font-family: "Formular";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 75px;


    @include desctop {
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      margin-bottom: 20px;
    }

    @include tablets {
      font-size: 22px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 23px;
    }
  }


  &__logo {
    margin-bottom: 35px;

    @include desctop {
      margin-bottom: 20px;
    }

    img {
      @include desctop {
        height: 23px;
      }
    }

  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include desctop {
      flex-direction: column;
    }
  }

  &__target {
    @include desctop {
      margin-bottom: 20px;
    }
  }

  &__caption {
    color: #05225d;
    font-family: "Formular";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    @include desctop {
      font-size: 12px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 26px;

    @include desctop {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__completed {}

  &__look {
    color: #f87060;
    font-family: "Formular";
    font-size: 16px;
    font-weight: 700;

    a {
      text-decoration: underline;

    }
  }

  &__slider {}

  &__item {
    max-width: 535px;
    height: 341px;
    box-shadow: 50px 50px 100px rgba(255, 255, 255, 0.15);
    background-color: #ffffff;
    padding: 58px 47px 50px;

    @include desctop {
      max-width: 286px;
      padding: 30px 20px;
    }

    @include tablets {
      max-width: 480px;
    }
  }
}

.slick-slider {
  @include desctop {
    max-width: 592px;
    margin: 0 auto;
  }

  @include tablets {
    max-width: 280px;
  }
}

.slick-slide {
  max-width: 535px;
  margin-right: 35px;

  @include desctop {
    margin-right: 20px;
  }

  @include tablets {
    width: 280px;
    margin-right: 0;
  }
}

.slick-prev {
  position: absolute;
  top: 48%;
  left: -60px;
  transform: translateY(-52%) rotate(-180deg);
  cursor: pointer;

  @include phones {
    bottom: -335px;
    left: 0;

    img {
      width: 18px;
      height: 29px;
    }
  }
}

.slick-next {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: -60px;
  cursor: pointer;

  @include phones {
    left: 40px;
    bottom: -84px;
    top: auto;

    img {
      width: 18px;
      height: 29px;
    }
  }
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0.3;
}