.services {
  padding: 100px 0 145px;
  position: relative;

  &__title {
    color: #05225d;
    font-family: "Formular";
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 100px;
  }

  &__list {
    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__picture-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__img {
    height: 100%;
    width: 51%;
    background: top/cover no-repeat;
  }

  &__item {
    position: relative;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 165px;
    }

    &:nth-child(even) {
      .container {
        flex-direction: row-reverse;
      }

      .services__img {
        margin-left: auto;
      }

      .services__box {
        right: 0;
        left: -40px;
      }

      .services__left-title {
        color: #05225d;
        font-family: "Formular";
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        margin: -43px 0px 24px -23px;
        letter-spacing: -.5px;
      }

      .services__left-list {
        padding-left: 0px;
        margin-bottom: 65px;
      }
    }
  }

  &__right {
    max-width: 571px;
    width: 100%;
  }

  &__right-inner {
    position: relative;
    height: 550px;
  }



  &__box {
    max-width: 453px;
    width: 100%;
    position: absolute;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: #ffffff;
    bottom: -66px;
    right: -40px;
    padding: 33px 31px 65px 40px;
  }

  &__box-caption {
    font-family: "Formular";
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
    letter-spacing: -1.5px;
  }

  &__box-list {
    line-height: 26px;
    max-width: 381px;
    padding-left: 15px;
  }

  &__box-item {
    list-style: '—';
    padding-left: 15px;
  }

  &__left {
    position: relative;
    z-index: 10;
    max-width: 475px;
  }

  &__inner {
    padding: 82px 0 0 30px;
  }

  &__left-title {
    color: #05225d;
    font-family: "Formular";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 30px;
    letter-spacing: -1.8px;
  }

  &__left-list {
    padding-left: 22px;
    margin-bottom: 65px;

    li {
      list-style: '—';
      padding-left: 10px;
      line-height: 26px;
    }
  }

  &__order {
    color: #f87060;
    font-family: "Formular";
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
  }
}