@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Bold.woff') format('woff'),
    url('../fonts/Formular-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}